@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

@keyframes blink {
  to {
    background-color: transparent;
  }
}

@keyframes move {
  to {
    left: 100%;
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

header > h1 {
  font-family: "Source Code Pro";
  color: white;
  font-weight: normal;
  font-size: 1.9em;
  position: relative;
  width: max-content;
  &::before,
  &::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &::before {
    background-color: #242424;
    animation: move 2s steps(23) 1s forwards;
  }

  &::after {
    width: 2px;
    background-color: #d2d2d2;
    animation: blink 1s infinite ease-in, move 2s steps(23) 1s forwards;
  }
}

header > a {
  background-color: #ef005f;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  flex-grow: 0;
  display: inline;
  width: max-content;
  transition: 0.7s;
  &:hover {
    background-color: darken(#ef005f, 10);
  }
}

.screenshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vw * 575px / 1103px;
  position: relative;
  padding-top: 50px;
  height: max-content;

  &::before {
    content: "";
    background-color: #242424;
    // Calculate 1/2 the height of the image
    height: (80vw * 575px / 1103px) / 2;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 10px;
    z-index: 5;
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  gap: 50px;
}

.open-source {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  h2 {
    font-weight: normal;
  }
  p {
    color: #5c5c5c;
  }
}

.features {
  h1 {
    font-weight: normal;
  }
}
